pip install langchain
pip install langchain-community
pip install langchain-google-genai
pip install chromadb
pip install sentence-transformers
pip install pypdf
pip install docx2txt
pip install python-dotenv
pip install streamlit